<nav class="w-full flex flex-row bg-white dark:bg-slate-600 text-gray-400 border-b border-gray-400" [class.dark]="isDarkMode()" [class.light]="!isDarkMode()">
    <div class="px-6 py-4 flex justify-between items-center border-r border-gray-400">
        <p class="text-gray-400 dark:text-white">Web Interface</p>
        <button class="ml-2 flex transition-transform hover:scale-125 align-middle" (click)="toggleDarkMode()">
            <span *ngIf="isDarkMode()">
                <span class="material-icons">
                    light_mode
                    </span>
            </span>
            <span *ngIf="!isDarkMode()">
                <span class="material-icons">
                    dark_mode
                    </span>
            </span>
        </button>
    </div>
    <div class="px-6 flex items-center text-sm border-r border-gray-400">
        <ul class="flex">
            <li class="p-2 text-gray-400 dark:text-white">Popular</li>
            <li class="p-2">For You</li>
            <li class="p-2">Messages</li>
        </ul>
    </div>
    <div class="flex items-center">
        <div class="p-2">
            <span class="material-icons">
                search
                </span>
        </div>
        <input type="text" class="w-full text-white bg-transparent border-none focus:border-transparen focus:ring-0"
            placeholder="Search Message">
    </div>
    <div class="flex flex-grow justify-end items-center">
        <div class="px-2">
            <p>User Component</p>
        </div>
    </div>
</nav>