<section class=" pb-3 flex flex-row justify-start">
    <div class="flex flex-row justify-center items-center">
        <span class="material-icons mr-4 dark:text-gray-500">
            dashboard
        </span>
        <span>Dashboard</span>
    </div>
    <div class="flex flex-grow justify-center text-sm">
        <ul class="flex flex-row justify-center items-center   bg-transparent  px-4  mr-5 mb-1 ">
            <li class="p-2 px-4 border border-solid border-gray-300 rounded-l-full"><a href="#!">Today</a>
            </li>
            <li class="p-2 border-y border-r border-gray-300"><a href="#!">Week</a></li>
            <li class="p-2 border-y border-r border-gray-300"><a href="#!">Month</a></li>
            <li class="p-2 border-y border-gray-300"><a href="#!">Quarter</a></li>
            <li class="p-2 px-4 border  border-gray-300 rounded-r-full"><a href="#!">Year</a></li>
        </ul>
        <div
            class="flex flex-row justify-center items-center bg-transparent border border-solid border-gray-300 px-4 rounded-full">
            <span class="material-icons mr-4">
                today
            </span>
            <span>24 Mar - 23 Apr 2019</span>
        </div>
    </div>
    <button
        class="flex items-center border border-solid border-gray-300 hover:border-gray-300 hover:text-white text-sm px-4 py-2 rounded-full">
        <span class="material-icons mr-2">
            add
        </span>
        <span>Add Widget</span>
    </button>
</section>