<div class="flex items-center space-x-8">
    <span class="material-icons cursor-pointer">
        notifications
    </span>
    <div class="flex items-center text-sm">
        <div class="w-9 h-9 mr-6  rounded-full overflow-hidden">
            <img src="https://img.freepik.com/foto-gratis/mujer-joven-paseando-barrio_23-2149410288.jpg?size=626&ext=jpg&ga=GA1.2.1492124101.1691594921&semt=ais"
                alt="Avatar" class="w-full h-full object-cover">
        </div>
        <span>Pepe hogan</span>
        <span class="material-icons">
            expand_more
        </span>
    </div>
</div>