<div class="flex items-center space-x-8">
    <span class="material-icons cursor-pointer">
        notifications
    </span>
    <div (click)="resetUser()" class="flex items-center text-sm">
        <div class="w-9 h-9 mr-6  rounded-full overflow-hidden">
            <img [src]="picture"
                alt="Avatar" class="w-full h-full object-cover">
        </div>
        <span>{{ name }} {{ surname }}</span>
        <span class="material-icons">
            expand_more
        </span>
    </div>
</div>