<div class="h-screen flex">
    <app-sidebar></app-sidebar>
    <div class="w-screen flex flex-col">
        <app-navbar></app-navbar>
        <div class="h-full flex flex-row">
            <aside
                class="w-40 flex flex-col justify-between text-gray-400 dark:text-white bg-white dark:bg-slate-800 border-r-2 border-gray-400">
                <div class="p-4">
                    <h3 class="mb-4 text-gray-400">Dashboards</h3>
                    <ul class="text-sm">
                        <li class="p-1">Messages</li>
                        <li class="p-1">Notifications</li>
                        <li class="p-1">Friends</li>
                        <li class="p-1">Messages</li>
                        <li class="p-1">Calendar</li>
                        <li class="p-1">Users</li>
                    </ul>
                </div>
                <div class="p-4 border-t-2 border-gray-400">
                    <h3 class="mb-4 text-gray-400">Contacts</h3>
                    <ul class="text-sm">
                        <li class="p-1">Lisa Simpson</li>
                        <li class="p-1">Ricky Morty</li>
                        <li class="p-1 text-gray-400">Ariel Flounder</li>
                        <li class="p-1 text-gray-400">Pini Pon</li>
                        <li class="p-1 text-gray-400">Yoda Johnson</li>
                    </ul>
                </div>
                <div class="p-4 border-t-2 border-gray-400">
                    <ul class="flex flex-row justify-between text-gray-400">
                        <li class="p-1 hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-5 h-5">
                                <path
                                    d="M7 8a3 3 0 100-6 3 3 0 000 6zM14.5 9a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM1.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 017 18a9.953 9.953 0 01-5.385-1.572zM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 00-1.588-3.755 4.502 4.502 0 015.874 2.636.818.818 0 01-.36.98A7.465 7.465 0 0114.5 16z" />
                            </svg>
                        </li>
                        <li class="p-1 hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                                    clip-rule="evenodd" />
                            </svg>

                        </li>
                        <li class="p-1 hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path
                                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                <path
                                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </aside>
            <main
                class="w-full h-full flex flex-col justify-around text-gray-400 dark:text-white bg-gray-100 dark:bg-slate-800">
                <section class="p-4 pt-6 flex flex-row">
                    <div class="flex flex-row justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-6 h-6 mr-4">
                            <path
                                d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                            <path
                                d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                        </svg>
                        <span>Dashboard</span>
                    </div>
                    <div class="flex flex-grow justify-center text-sm">
                        <ul class="flex flex-row justify-center items-center   bg-transparent  px-4  mr-5 mb-1 ">
                            <li class="p-2 px-4 border border-solid border-gray-400 rounded-l-full"><a href="">Today</a>
                            </li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Week</a></li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Month</a></li>
                            <li class="p-2 border-y border-gray-400"><a href="">Quarter</a></li>
                            <li class="p-2 px-4 border  border-gray-400 rounded-r-full"><a href="">Year</a></li>
                        </ul>
                        <div
                            class="flex flex-row justify-center items-center bg-transparent border border-solid border-gray-400 px-4 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 mr-4">
                                <path
                                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                <path
                                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                            </svg>
                            <span>24 Mar - 23 Apr 2019</span>
                        </div>
                    </div>
                   
                        <button
                            class="flex items-center border border-solid border-gray-400 hover:border-gray-500 hover:text-white text-sm px-4 py-2 rounded-full">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-6 h-6 ">
                                    <path
                                        d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                    <path
                                        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                                </svg>
                            </span>
                            <span>Add Widget</span>
                        </button>
                    
                </section>
                <section class="px-2 pb-2 flex flex-grow flex-row justify-stretch">
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Visits</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="w-6 h-6">
                                                <path fill-rule="evenodd"
                                                    d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full flex items-center justify-evenly p-2">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Duration</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Bounce Rate</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="w-6 h-6">
                                                <path fill-rule="evenodd"
                                                    d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="p-2 w-full flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Pages per visit</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="w-6 h-6">
                                                <path
                                                    d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" />
                                                <path
                                                    d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>