<div class="h-screen flex">
    <app-sidebar></app-sidebar>
    <div class="w-screen flex flex-col">
        <app-navbar></app-navbar>
        <div class="h-full flex flex-row">
            <aside
                class="w-40 flex flex-col justify-between text-gray-400 dark:text-white bg-white dark:bg-slate-800 border-r border-gray-400">
                <div class="p-4">
                    <h3 class="mb-4 text-gray-400">Dashboards</h3>
                    <ul class="text-sm">
                        <li class="p-1">Messages</li>
                        <li class="p-1">Notifications</li>
                        <li class="p-1">Friends</li>
                        <li class="p-1">Messages</li>
                        <li class="p-1">Calendar</li>
                        <li class="p-1">Users</li>
                    </ul>
                </div>
                <div class="p-4 border-t border-gray-400">
                    <h3 class="mb-4 text-gray-400">Contacts</h3>
                    <ul class="text-sm">
                        <li class="p-1">Lisa Simpson</li>
                        <li class="p-1">Ricky Morty</li>
                        <li class="p-1 text-gray-400">Ariel Flounder</li>
                        <li class="p-1 text-gray-400">Pini Pon</li>
                        <li class="p-1 text-gray-400">Yoda Johnson</li>
                    </ul>
                </div>
                <div class="p-4 border-t border-gray-400">
                    <ul class="flex flex-row justify-between text-gray-400">
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                people
                                </span>
                        </li>
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                comment
                                </span>
                        </li>
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                email
                                </span>
                        </li>
                    </ul>
                </div>
            </aside>
            <main
                class="w-full h-full flex flex-col justify-around text-gray-400 dark:text-white bg-gray-100 dark:bg-slate-800">
                <section class="p-4 pt-6 flex flex-row">
                    <div class="flex flex-row justify-center items-center">
                        <span class="material-icons mr-4">
                            dashboard
                            </span>
                        <span>Dashboard</span>
                    </div>
                    <div class="flex flex-grow justify-center text-sm">
                        <ul class="flex flex-row justify-center items-center   bg-transparent  px-4  mr-5 mb-1 ">
                            <li class="p-2 px-4 border border-solid border-gray-400 rounded-l-full"><a href="">Today</a>
                            </li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Week</a></li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Month</a></li>
                            <li class="p-2 border-y border-gray-400"><a href="">Quarter</a></li>
                            <li class="p-2 px-4 border  border-gray-400 rounded-r-full"><a href="">Year</a></li>
                        </ul>
                        <div
                            class="flex flex-row justify-center items-center bg-transparent border border-solid border-gray-400 px-4 rounded-full">
                            <span class="material-icons mr-4">
                                today
                                </span>
                            <span>24 Mar - 23 Apr 2019</span>
                        </div>
                    </div>
                   
                        <button
                            class="flex items-center border border-solid border-gray-400 hover:border-gray-500 hover:text-white text-sm px-4 py-2 rounded-full">
                                <span class="material-icons mr-2">
                                    add
                                    </span>
                            <span>Add Widget</span>
                        </button>
                    
                </section>
                <section class="px-2 pb-2 flex flex-grow flex-row justify-stretch">
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Visits</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                account_circle
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full flex items-center justify-evenly p-2">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Duration</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                schedule
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Bounce Rate</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                bookmark
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="p-2 w-full flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Pages per visit</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                insert_drive_file
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>