<div class="h-screen flex">
    <app-sidebar></app-sidebar>
    <div class="w-screen flex flex-col">
        <app-navbar></app-navbar>
        <div class="h-full flex flex-row">
            <aside
                class="w-60 flex flex-col justify-between text-gray-400 text-sm dark:text-white bg-white dark:bg-slate-800 border-r border-gray-400">
                <div class="p-4">
                    <h3 class="mb-4 text-gray-400">Dashboards</h3>
                    <ul>
                        <li class="p-1">Messages</li>  
                        <li class="p-1 flex items-center justify-between">
                            <span class="mr-2">Notifications</span>
                            <div class="w-6 h-6 bg-blue-500 text-white rounded-full flex items-center justify-center">
                                <span class="">4</span>
                              </div>
                          </li>
                        <li class="p-1">Friends</li>
                        <li class="p-1">Messages</li>
                        <li class="p-1">Calendar</li>
                        <li class="p-1">Users</li>
                    </ul>
                </div>
                <div class="p-4 border-t border-gray-400">
                    <h3 class="mb-4 text-gray-400">Contacts</h3>
                    <div>
                        <div class="mb-4">
                            <div class="flex items-center mb-2">
                                <div class="relative">
                                    <div class="w-8 h-8 rounded-full overflow-hidden">
                                        <img src="https://img.freepik.com/foto-gratis/mujer-joven-paseando-barrio_23-2149410288.jpg?size=626&ext=jpg&ga=GA1.2.1492124101.1691594921&semt=ais"
                                            alt="Avatar" class="w-full h-full object-cover">
                                    </div>
                                    <span
                                        class="absolute top-0 right-0 transform translate-x-1/4 -translate-y-1/4 bg-blue-500 border-2 border-white w-4 h-4 rounded-full"></span>
                                </div>
                                <span class="ml-2 text-gray-800 dark:text-white block text-center">Lisa Simpson</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex items-center mb-2">
                                <div class="relative">
                                    <div class="w-8 h-8 rounded-full overflow-hidden">
                                        <img src="https://img.freepik.com/foto-gratis/retrato-joven-americano-africano-hombre_23-2148932869.jpg?size=626&ext=jpg&ga=GA1.2.1492124101.1691594921&semt=ais"
                                            alt="Avatar" class="w-full h-full object-cover">
                                    </div>
                                    <span
                                        class="absolute top-0 right-0 transform translate-x-1/4 -translate-y-1/4 bg-blue-500 border-2 border-white w-4 h-4 rounded-full"></span>
                                </div>
                                <span class="ml-2 text-gray-800 dark:text-white block text-center">Mario Bross</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex items-center mb-2">
                                <div class="w-8 h-8 rounded-full overflow-hidden">
                                    <img src="https://img.freepik.com/foto-gratis/mujer-moderna-haciendose-selfie_23-2147893976.jpg?size=626&ext=jpg&ga=GA1.2.1492124101.1691594921&semt=ais"
                                        alt="Avatar" class="w-full h-full object-cover">
                                </div>
                                <div class="ml-2">
                                    <span class="text-gray-800 dark:text-white">Ricky Morty</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex items-center mb-2">
                                <div class="w-8 h-8 rounded-full overflow-hidden">
                                    <img src="https://img.freepik.com/foto-gratis/selfie-retrato-videollamada_23-2149186122.jpg?size=626&ext=jpg&ga=GA1.2.1492124101.1691594921&semt=ais"
                                        alt="Avatar" class="w-full h-full object-cover">
                                </div>
                                <div class="ml-2">
                                    <span class="text-gray-400">El Enanito</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex items-center mb-2">
                                <div class="w-8 h-8 rounded-full overflow-hidden">
                                    <img src="https://img.freepik.com/foto-gratis/retrato-joven-japones-gafas_23-2148870781.jpg?size=626&ext=jpg&ga=GA1.1.1492124101.1691594921&semt=ais"
                                        alt="Avatar" class="w-full h-full object-cover">
                                </div>
                                <div class="ml-2">
                                    <span class="text-gray-400">Sophia Ver</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 border-t border-gray-400">
                    <ul class="flex flex-row justify-between text-gray-400">
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                people
                            </span>
                        </li>
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                comment
                            </span>
                        </li>
                        <li class="p-1 dark:hover:text-white">
                            <span class="material-icons">
                                email
                            </span>
                        </li>
                    </ul>
                </div>
            </aside>
            <main
                class="w-full h-full flex flex-col justify-around text-gray-400 dark:text-white bg-gray-100 dark:bg-slate-800">
                <section class="p-4 pt-6 flex flex-row">
                    <div class="flex flex-row justify-center items-center">
                        <span class="material-icons mr-4">
                            dashboard
                        </span>
                        <span>Dashboard</span>
                    </div>
                    <div class="flex flex-grow justify-center text-sm">
                        <ul class="flex flex-row justify-center items-center   bg-transparent  px-4  mr-5 mb-1 ">
                            <li class="p-2 px-4 border border-solid border-gray-400 rounded-l-full"><a href="">Today</a>
                            </li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Week</a></li>
                            <li class="p-2 border-y border-r border-gray-400"><a href="">Month</a></li>
                            <li class="p-2 border-y border-gray-400"><a href="">Quarter</a></li>
                            <li class="p-2 px-4 border  border-gray-400 rounded-r-full"><a href="">Year</a></li>
                        </ul>
                        <div
                            class="flex flex-row justify-center items-center bg-transparent border border-solid border-gray-400 px-4 rounded-full">
                            <span class="material-icons mr-4">
                                today
                            </span>
                            <span>24 Mar - 23 Apr 2019</span>
                        </div>
                    </div>

                    <button
                        class="flex items-center border border-solid border-gray-400 hover:border-gray-500 hover:text-white text-sm px-4 py-2 rounded-full">
                        <span class="material-icons mr-2">
                            add
                        </span>
                        <span>Add Widget</span>
                    </button>
                </section>
                <section class="px-2 pb-2 flex flex-grow flex-row justify-stretch">
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Visits</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                account_circle
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full flex items-center justify-evenly p-2">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Duration</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                schedule
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-col">
                        <div class="flex flex-row">
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="w-full p-2 flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Bounce Rate</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                bookmark
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 m-2 flex flex-grow bg-white dark:bg-slate-600 shadow-md">
                                <div class="p-2 w-full flex items-center justify-evenly">
                                    <div class="flex flex-col">
                                        <p class="text-lg font-semibold">125.154</p>
                                        <p class="text-sm">Pages per visit</p>
                                    </div>
                                    <div class="text-center">
                                        <div
                                            class="w-10 h-10 flex items-center justify-center text-white bg-blue-500 rounded-full">
                                            <span class="material-icons">
                                                insert_drive_file
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                        <div class="p-4 m-2 flex-grow bg-white dark:bg-slate-600 shadow-md">
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>